* {
	background-color: black;
	color: white;
}

body {
	padding: 8px;
	margin: 8px;
}

p {
	max-width: 40%;
}

blockquote {
	font-style: italic;
	border-left: 3px solid white;
	margin: 16px;
	padding-left: 8px;
	transition: 150ms ease-in-out;
}

a {
	color: white;
	text-decoration: none;
	box-shadow: 0 -1.5px 0 0 white inset;
	transition: 150ms ease-in-out;
}

a:hover {
	color: black;
	box-shadow: 0 -1em 0 0 white inset;
}