* {
	background-color: black;
	color: white;
	font-size: medium;
	font-family: serif;	
}

header {
	text-align: center;
}

body {
	padding: 8px;
	margin: auto;
	max-width: 750px;
}

blockquote {
	font-style: italic;
	border-left: 3px solid white;
	margin: 16px;
	padding-left: 8px;
	transition: 150ms ease-in-out;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
}

table, th, td {
	border: 1px solid;
}