@import url(https://fonts.googleapis.com/css2?family=Ovo&family=Solway&display=swap);
@import "tailwindcss";

body {
  max-width: 80ch;
  margin: 2em auto;
  line-height: 1.8rem;
  font-family: "Ovo";
}

.socials-bar > a:hover {
  filter: invert(53%) sepia(86%) saturate(4703%) hue-rotate(316deg)
    brightness(100%) contrast(103%);
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  padding: 1rem;
}

a {
  @apply text-rose-400 hover:text-rose-300 hover:underline;
}

.card {
  color: white;
}

.card:hover {
  color: white;
  text-decoration: none;
}

.bg-dr {
  background-color: #120c0e;
}

.bg-card {
  background-color: #381621a8;
}

.bg-card:hover {
  background-color: #70183459;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Solway";
  padding: 0.25em;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 3rem;
}

li {
    font-size: large;
}

table,
th,
td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  margin: auto;
}

code {
  padding: 2px 5px;
  border-radius: 2%;
  font-family: "Courier New", monospace; /* TODO: use proper code font */
}

pre {
  @apply bg-slate-700;
  padding: 1em;
  margin: 1em;
  border-radius: 2%;
  overflow-x: auto;
}

blockquote {
  border-left: 4px solid #fb7185;
  background-color: #4e143463;
  padding-left: 1rem;
  margin: 1rem;
  border-radius: 1%;
}
