---
import Page from "../layouts/Page.astro";
---

<Page>
  <p>
    Hi, this is rudyon. I am a 22 year old Turkish NEET . I write about
    technology and other stuff I am interested in. I have a lot of ambition.
    This is the index page it indexes things.
  </p>
  <ul>
    <li><a href="/conformity">Conformity</a></li>
    <li><a href="/gunsgermsandsteel">Guns, Germs & Steel</a></li>
    <li><a href="/shivi">Shivi</a></li>
    <li><a href="/sicpracketguide">SICP Racket Guide</a></li>
    <li><a href="/sicp">SICP</a></li>
    <li><a href="/plan9">Plan9</a></li>
    <li><a href="/ultralearning">Ultralearning</a></li>
    <li><a href="/sapiens">Sapiens</a></li>
  </ul>
</Page>
