---
import Page from "../layouts/Page.astro";
---

<Page>
  <p>
    Hi, this is rudyon . I know Python, Go and C#. Go and C# mostly for GameDev and simulation building. Python mostly for interacting with API and web apps. I also know Svelte. You can find some of my projects on my <a href="https://github.com/rudyon">Github</a>. I write about technology and other stuff I am interested in. I have a lot of ambition. I am currently looking for a job.
  </p>
  <ul>
    <li><a href="/conformity">Conformity</a></li>
    <li><a href="/gunsgermsandsteel">Guns, Germs & Steel</a></li>
    <li><a href="/shivi">Shivi</a></li>
    <li><a href="/sicpracketguide">SICP Racket Guide</a></li>
    <li><a href="/sicp">SICP</a></li>
    <li><a href="/plan9">Plan9</a></li>
    <li><a href="/ultralearning">Ultralearning</a></li>
    <li><a href="/sapiens">Sapiens</a></li>
  </ul>
</Page>
