---
import Page from "../layouts/Page.astro";
---

<Page>
  <p>
    Hi, this is rudyon. I know Python, Go and C#. Go and C# mostly for GameDev and simulation building. Python mostly for interacting with API and web apps. I also know Svelte. You can find some of my projects on my <a href="https://github.com/rudyon">Github</a>. I write about technology and other stuff I am interested in. I have a lot of ambition. I am currently looking for a job. I am also at the moment trying to write more often.
  </p>
  <div class="flex justify-center gap-y-6">
    <ul class="grid grid-cols-1">
        <li class="m-6 max-w-sm rounded-2xl text-left bg-card overflow-hidden shadow-lg/50 transition-all duration-300 ease-out hover:-translate-y-1 hover:shadow-xl/70">
          <a href="/conformity" class="card">
            <h2 class="m-2">Conformity</h3>
            <p>Conformity has been the source of lots of problems in my life. I actually think it is a major problem with society as a whole. We, and the systems that we have created punish anyone for being authentic. One feels like a puppet in daily l..</p>
          </a>
        </li>
    </ul>
  </div>
</Page>