<header>
	<a href="#">
		<img src="https://cdn.bsky.app/img/avatar/plain/did:plc:7tid7srmqoq57vt2yzlojbpz/bafkreie4ujoglsrivvnmutdzs4porhxwgqrifrobsxmlo7izbaqshz6jhu@jpeg" alt="profile picture" width="80">
	</a>
	<h1>rudyon</h1>
</header>
