---
import Header from '../components/Header.astro';
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>rudyon</title>
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" media="screen" />
</head>
<body>
	<Header />
	<main>
		<slot />
	</main>
</body>
</html>
