---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
    <title>rudyon.io</title>
  </head>
  <body class="bg-dr">
    <header class="flex p-4">
      <Header />
    </header>

    <main class="text-white font-[Ovo]">
      <slot />
    </main>

    <footer class="text-white font-[Ovo] p-2">
      <p>rudyon © 2024-2025</p>
    </footer>
  </body>
</html>
